* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 2em;
    background-color: #807573;
    color: white;
    padding-top: 25px;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

.stopwatch {
    display: flex;
    justify-content: center;
}

